<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework #5</title>
    <link rel="stylesheet" href="../public/stylesheets/all.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.1/css/all.css">
</head>
<body>
    <div class="page-header">
        <nav class="nav-panel d-flex flex-wrap justify-content-between">
            <div class="nav-panel__logo">
                <a href="#">Freelancer</a>
            </div>
            <div class="nav-panel__burger">
                <span>&#9776;</span>
            </div>
            <div class="page-header__wrapper">
                <ul class="nav-panel__list">
                    <li class="nav-panel__list-item">
                        <a class="nav-panel__link" href="#">about</a>
                    </li>
                    <li class="nav-panel__list-item">
                        <a class="nav-panel__link" href="#">work</a>
                    </li>
                    <li class="nav-panel__list-item">
                        <a class="nav-panel__link" href="#">portfolio</a>
                    </li>
                    <li class="nav-panel__list-item">
                        <a class="nav-panel__link" href="#">contact</a>
                    </li>
                    <li class="nav-panel__list-item">
                        <a href="#" class="nav-panel__link_color--red fab fa-facebook-f">&#160;</a>
                    </li>
                    <li class="nav-panel__list-item">
                        <a href="" class="nav-panel__link_color--red fab fa-twitter"></a>
                    </li>
                </ul>
            </div>
        </nav>
        <header class="page-header_main">
            <section class="page-header_main__centered-section">
                <h1 class="page-header__title">
                    intelligence <br/> is nothing without <br/> ambition<span class="red-dot"></span>
                </h1>
                <p class="page-header__description">We`re small but impressive creative agency.</p>
                 <button class="page-header__more_button">read more</button>
            </section>
        </header>
    </div>
    <main class="main-content">
        <section class="d-flex flex-wrap main-content__section">
            <article class="card">
                <div class="card__block_wrapper">
                    <h2 class="card__title-size-s">
                        peace<br/>of mind
                        <span class="red-dot"></span>
                    </h2>
                </div>
                <div class="card__block_wrapper">
                    <p class="card__description">
                        You`re safe with us. The privacy and security of our financial information is our top privacy.
                    </p>
                </div>
                <button class="more-button">more &#8594;</button>
            </article>
            <article class="card">
                <div class="card__block_wrapper">
                    <h2 class="card__title-size-s">
                        free<br>actually free
                    </h2>
                </div>
                <div class="card__block_wrapper">
                    <p class="card__description">
                        No more pricing grids. No more fine print. Sending and receiving cash is free  without gimmicks.
                    </p>
                </div>   
                <button class="more-button">more &#8594;</button>
            </article>
            <article class="card">
                <div class="card__block_wrapper">
                    <h2 class="card__title-size-s">
                        simple<br>payments
                        <span class="red-dot"></span>
                    </h2>
                </div>
                <div class="card__block_title">
                    <p class="card__description">
                        The same debit card you use to buy coffee lets deposit money straight to your bank account.
                    </p>
                </div>
                <button class="more-button">more &#8594;</button>
            </article>
        </section>
        <section class="d-flex flex-wrap main-content__section">
            <article class="main-content_portfolio-section_article m-auto">
                <img src="../src/images/MacBook.png" alt="mac book air">
            </article>
            <article class="card">
                <h2 class="card__title-size-s">portfolio<span class="red-dot"></span></h2>
                <h3 class="card__subtitle">We are small, but strong team</h3>
                <p class="card__description">
                    No more pricing grids. No more fine prime <br>
                    Sending and receiving cash is free without gimmicks.
                </p>
                <p class="card__description">
                    The same debit card you use to buy coffee lets <br>
                    deposit money straight to your bank accout.
                </p>
                <button class="more-button">more &#8594;</button>
            </article>
        </section>
        <section class="main-content_team-section main-content__section">
            <h2 class="main-content_team-section__header">out team<span class="red-dot"></span></h2>
            <h3 class="main-content_team-section__slogan">They are big but still friendly.</h3>
            <article class="d-flex flex-wrap text-center">
                <div class="card">
                    <img src="../src/images/Joey.png" alt="Joey" class="card__img-avatar">
                    <div>
                        <h2 class="card__title">Joey</h2>
                        <h4 class="card__subtitle--red">Web developer</h4>
                        <p class="card__description">Coffee lover. Always on bike. IPhone fan.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../src/images/Matt.png" alt="Matt" class="card__img-avatar">
                    <div>
                        <h2 class="card__title">Matt</h2>
                        <h4 class="card__subtitle--red">Web designer</h4>
                        <p class="card__description">MTB Biker. Photoshop master. Loving Father.</p>
                    </div>
                </div>
                <div class="main-content_team-section_article_block">
                    <img src="../src/images/Mike.png" alt="Mike" class="card__img-avatar">
                    <div>
                        <h2 class="card__title">Mike</h2>
                        <h4 class="card__subtitle--red">Copywriter</h4>
                        <p class="card__description">Drummer. Soup lover. Beer Drinker. Cyclist.</p>
                    </div>
                </div>
            </article>
            <article class="main_content_team-section_article_block flex-end">
                <button class="more-button">more &#8594</button>
            </article>
        </section>
    </main>
    <footer class="footer">
        <hr class="gray">
        <section class="footer-main__section">
            <!-- Social links -->
            <article class="footer-main__article">
                <a href="#" class="fab fa-twitter footer-main__link"></a>
                <a href="#" class="fab fa-instagram footer-main__link"></a>
                <a href="#" class="fab fa-facebook footer-main__link"></a>
                <a href="#" class="fab fa-google-plus-g footer-main__link"></a>
            </article>
            <!-- Coopiright info -->
            <article class="footer-main__article">
                &copy;Freelance - Designed by Wojtek Kwiakiwski
            </article>
        </section>
    </footer>
    <script defer src="../src/javascript/script.js"></script>
</body>
</html>