<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework #5</title>
    <link rel="stylesheet" href="../public/stylesheets/all.css">
</head>
<body>
    <div class="page-header">
        <nav class="page-header_nav_section">
            <div class="page-header_nav_section_item page-header_nav_section-freelancer">
                <a href="#">Freelancer</a>
            </div>
            <div class="page-header_nav-toggler">
                <span>&#9776;</span>
            </div>
            <div class="page-header_nav_section_item m-auto">
                <ul class="page-header_nav_list">
                    <li class="page-header_nav_list_item">
                        <a class="page-header_nav_list_item_link" href="#">about</a>
                    </li>
                    <li class="page-header_nav_list_item">
                        <a class="page-header_nav_list_item_link" href="#">work</a>
                    </li>
                    <li class="page-header_nav_list_item">
                        <a class="page-header_nav_list_item_link" href="#">portfolio</a>
                    </li>
                    <li class="page-header_nav_list_item">
                        <a class="page-header_nav_list_item_link" href="#">contact</a>
                    </li>
                    <li class="page-header_nav_list_item">
                        <a href="#" class="page-header_nav_list_item_link">
                            <img src="../src/images/icons/Twitter.png" alt="twitter icon">
                        </a>
                    </li>
                    <li class="page-header_nav_list_item">
                        <a href="#" class="page-header_nav_list_item_link">
                            <img src="../src/images/icons/Facebook.png" alt="facebook icon">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <header class="page-header_main">
            <section class="page-header_main_centered-section">
                <h1 class="page-header_main_large_text">
                    intelligence <br/> is nothing without <br/> ambition<span class="red-dot"></span>
                </h1>
                <p class="page-header_main_description">We`re small but impressive creative agency.</p>
                 <button class="page-header_main_rounded-button">read more</button>
            </section>
        </header>
    </div>
    <main class="main-content">
        <section class="main-content_advantages">
            <article class="main-content_advantages_article">
                <h2 class="main-content_advantages_header">peace<br/>of mind<span class="red-dot"></span></h2>
                <p class="main-content_advantages_description">You`re safe with us. The privacy and security of our financial information is our top privacy.</p>
                <button class="main-content_advantages_more-button">more &#8594</button>
            </article>
            <article class="main-content_advantages_article">
                <h2 class="main-content_advantages_header">
                    free<br>actually free
                </h2>
                <p class="main-content_advantages_description">No more pricing grids. No more fine print. Sending and receiving cash is free  without gimmicks.</p>
                <button class="main-content_advantages_more-button">more &#8594</button>
            </article>
            <article class="main-content_advantages_article">
                <h2 class="main-content_advantages_header">
                    simple<br>payments
                    <span class="red-dot"></span>
                </h2>
                <p class="main-content_advantages_description">The same debit card you use to buy coffee lets deposit money straight to your bank account.</p>
                <button class="main-content_advantages_more-button">more &#8594</button>
            </article>
        </section>
        <section class="main-content_portfolio-section_portfolio">
            <article class="main-content_portfolio-section_article">
                <img src="../src/images/MacBook.png" alt="mac book air">
            </article>
            <article class="main-content_portfolio-section_portfolio_article">
                <h2 class="main-content_portfolio-section_portfolio_header">portfolio<span class="red-dot"></span></h2>
                <h3 class="main-content_portfolio-section_portfolio_slogan">We are small, but strong team</h3>
                <p class="main-content_portfolio-section_portfolio_text">
                    No more pricing grids. No more fine prime <br>
                    Sending and receiving cash is free without gimmicks.
                </p>
                <p class="main-content_portfolio-section_portfolio_text">
                    The same debit card you use to buy coffee lets <br>
                    deposit money straight to your bank accout.
                </p>
                <button class="main_content_more-button">more &#8594</button>
            </article>
        </section>
        <section class="main-content_team-section">
            <h1 class="main-content_team-section_header">out team<span class="red-dot"></span></h1>
            <h3 class="main-content_team-section_slogan">They are big but still friendly.</h3>
            <article class="main-content_team-section_article">
                <div class="main-content_team-section_article_block">
                    <img src="../src/images/Joey.png" alt="Joey" class="main-content_team-section_article_block_avatar">
                    <div class="main-content_team-section_article_block_card">
                        <h2 class="main-content_team-section_article_block_name">Joey</h2>
                        <h4 class="main-content_team-section_article_block_specialty">Web developer</h4>
                        <p class="main-content_team-section_article_block_description">Coffee lover. Always on bike. IPhone fan.</p>
                    </div>
                </div>
                <div class="main-content_team-section_article_block">
                    <img src="../src/images/Matt.png" alt="Matt" class="main-content_team-section_article_block_avatar">
                    <div>
                        <h2 class="main-content_team-section_article_block_name">Matt</h2>
                        <h4 class="main-content_team-section_article_block_specialty">Web designer</h4>
                        <p class="main-content_team-section_article_block_description">MTB Biker. Photoshop master. Loving Father.</p>
                    </div>
                </div>
                <div class="main-content_team-section_article_block">
                    <img src="../src/images/Mike.png" alt="Mike" class="main-content_team-section_article_block_avatar">
                    <div>
                        <h2 class="main-content_team-section_article_block_name">Mike</h2>
                        <h4 class="main-content_team-section_article_block_specialty">Copywriter</h4>
                        <p class="main-content_team-section_article_block_description">Drummer. Soup lover. Beer Drinker. Cyclist.</p>
                    </div>
                </div>
            </article>
            <article class="main_content_team-section_article_block flex-end">
                <button class="main_content_more-button">more &#8594</button>
            </article>
        </section>
    </main>
    <footer class="footer-main">
        <hr class="gray">
        <section class="footer-main-section">
            <!-- Social links -->
            <article class="footer-main-article">
                <img src="../src/images/symbols/Twitter.png" alt="twitter icon">
                <img src="../src/images/symbols/Instagram.png" alt="instagram icon">
                <img src="../src/images/symbols/facebook.png" alt="facebook icon">
                <img src="../src/images/symbols/google+.png" alt="google icon">
            </article>
            <!-- Coopiright info -->
            <article class="footer-main-article">
                &copy;Freelance - Designed by Wojtek Kwiakiwski
            </article>
        </section>
    </footer>
    <script src="../src/javascript/script.js"></script>
</body>
</html>